<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample function</title>
</head>
<body>
    <center>
    <h1 style=color:chartreuse><br>FIRST CREATE TEMPLATE FOLDER </h1><br>
    <h1 style =color:aqua> <br> AFTER REGISTERING</h1> </br>
    <h1 style=color:forestgreen><br> SYNTAX OF REGISTERING "TEMPLATES_DIR"</h1> </body><br>
    <h1 style=color:lawngreen> <br>DIRS=[TEMPLATES_DIR] </h1> </html><br>
    <h1 style=color:red> <br> "HARSHAD SIR" IS VERY FUN & COOL </h1> </br>
    </center>
</body>
</html>